" Ansible managed - Clawdbot vim configuration

" Core settings
set nocompatible
filetype plugin indent on
syntax on

" UI
set number
set relativenumber
set ruler
set showcmd
set wildmenu
set showmatch
set colorcolumn=80,120

" Search
set incsearch
set hlsearch
set ignorecase
set smartcase

" Indentation defaults (2 spaces)
set tabstop=2
set shiftwidth=2
set softtabstop=2
set expandtab
set autoindent
set smartindent

" File-type specific indentation
autocmd FileType python setlocal tabstop=4 shiftwidth=4 softtabstop=4 expandtab
autocmd FileType go setlocal tabstop=4 shiftwidth=4 softtabstop=4 noexpandtab
autocmd FileType javascript,typescript,json,yaml setlocal tabstop=2 shiftwidth=2 softtabstop=2 expandtab
autocmd FileType markdown setlocal wrap linebreak

" No backup/swap, but persistent undo
set nobackup
set nowritebackup
set noswapfile
set undofile
set undodir=~/.vim/undo
set undolevels=1000

" Navigation - split windows with Ctrl+hjkl
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Tab navigation with leader+number
let mapleader=","
noremap <leader>1 1gt
noremap <leader>2 2gt
noremap <leader>3 3gt
noremap <leader>4 4gt
noremap <leader>5 5gt

" Visual
set background=dark

" Highlight trailing whitespace
highlight ExtraWhitespace ctermbg=red guibg=red
match ExtraWhitespace /\s\+$/

" Remember cursor position
autocmd BufReadPost * if line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g`\"" | endif
