---
- name: Restart docker
  ansible.builtin.systemd:
    name: docker
    state: restarted

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted

- name: Restart openclaw-node-api
  ansible.builtin.systemd:
    name: openclaw-node-api
    state: restarted
    daemon_reload: true
